.page-header{
	background-color: #FF5722;
    padding: 10px;
    border-bottom: 4px solid #F44336;
    margin: 0 0 20px 0;
    display: table;
    width: 100%;
}
.page-header .titlePage{
    font-size: 25px;
    color: #FFF;
    font-weight: bold;
    float: left;
}
.page-header .subtitlePage{
	color: #FFF;
}
.page-header .groupAction{
	padding: 10px;
}

.content{
    padding: 18px 30px;
    background-color: #EEE;
    border-bottom: 3px solid #ccc;
}